.client-drawer__wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.client-drawer__badge {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  display: block;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 10px 20px 10px 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 9px;
}
.client-drawer__badge a.link--text {
  text-decoration: none;
  word-break: break-all;
}
.client-drawer__badge a.link--text:active, .client-drawer__badge a.link--text:focus, .client-drawer__badge a.link--text:hover {
  text-decoration: underline;
}
.client-drawer__badge a.link--icon {
  display: flex;
}
.client-drawer__badge a.link--icon:active, .client-drawer__badge a.link--icon:focus, .client-drawer__badge a.link--icon:hover {
  opacity: 0.8;
}
.client-drawer__badge__icon-env {
  color: #ffb2b0;
  font-size: 36px;
}
.client-drawer__badge__icon-u {
  color: #1b264f;
  font-size: 24px;
}
.client-drawer__badge__title {
  color: #000;
  display: block;
  font-size: 15px;
  font-weight: 700;
  flex: 1;
  word-break: break-word;
}
.client-drawer__badge__title .t {
  display: flex;
  align-items: center;
  gap: 5px;
}
.client-drawer__badge__title small {
  font-weight: 500;
}
.client-drawer__changelog #header {
  align-items: center;
}
.client-drawer__system-information .table td {
  word-break: break-word;
}
